<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>userController.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>userController.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>adminController.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductsServlet</servlet-name>
        <servlet-class>adminController.EditProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsDeleteServlet</servlet-name>
        <servlet-class>adminController.ProductsDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>userController.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>userController.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOldProduct</servlet-name>
        <servlet-class>userController.AddOldProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductsServlet</servlet-name>
        <url-pattern>/editproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsDeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/remove_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOldProduct</servlet-name>
        <url-pattern>/add_old_product</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
